<nav>
  <div class="site-title">
    <a href="/"><h1>Zein Shaban</h1></a>
    <p>A Net Zein Site</p>
  </div>
  <ul>
    <li><a href="/">Users</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users/create">New User</a></li>
  </ul>
</nav>